<div class="panel panel-default">
  <div class="panel-heading"><h3>Создание города</h3></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Назад', cities_path, {:class => 'btn btn-default'} %>
