<p id="notice"><%= notice %></p>
<h1>Подробно</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <strong>Название города:</strong><br/>
    <%= @city.name %>
  </div>
</div>
<%= link_to 'Назад', city_path, {:class => 'btn btn-default'} %>
<%= link_to 'Редактировать', edit_city_path(@city), {:class => 'btn btn-default'} %>

