<div class="panel panel-default">
  <div class="panel-heading"><h3>Редактирование региона</h3></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Назад', regions_path, {:class => 'btn btn-default'} %>
<%= link_to  'Подробно', @region, {:class => 'btn btn-default'} %>

